<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.zjw.mrs.mapper.MovieRegionMapper">

    <resultMap id="BaseResultMap" type="cn.zjw.mrs.entity.MovieRegion">
            <result property="mid" column="mid" jdbcType="BIGINT"/>
            <result property="rid" column="rid" jdbcType="INTEGER"/>
            <result property="degree" column="degree" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        mid,rid,degree
    </sql>
    <select id="selectRecommendedMoviesRegionsByUserId" resultType="cn.zjw.mrs.entity.MovieRegion">
        SELECT r.mid, mr.rid FROM movie_region mr
        JOIN recommendation r ON mr.mid = r.mid
        WHERE r.uid = ${uid}
        ORDER BY mr.rid;
    </select>
    <select id="selectWatchedMoviesRegionsByUserId" resultType="cn.zjw.mrs.entity.MovieRegion">
        SELECT mr.rid, c.mid FROM movie_region mr
        JOIN comment c ON mr.mid = c.mid
        WHERE c.uid = ${uid}
          AND c.mid IN (SELECT mid FROM (SELECT mid FROM `comment` WHERE uid = ${uid} LIMIT ${num}) cc)
        ORDER BY mr.rid;
    </select>
</mapper>
