<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.zjw.mrs.mapper.SameLikesMapper">

    <resultMap id="BaseResultMap" type="cn.zjw.mrs.entity.SameLikes">
            <result property="did" column="did" jdbcType="INTEGER"/>
            <result property="sid" column="sid" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        did,sid
    </sql>
</mapper>
